<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cma">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_my_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_my_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.cma.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!-- 人员管理 -->
        <activity
            android:name=".ui.staff_management.Staff_Entry"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ui.staff_management.StaffManagement_Main"
            android:allowBackup="true"
            android:parentActivityName=".ui.staff_management.StaffManagement_Main" />
        <activity
            android:name=".ui.staff_management.StaffManagement_Modify"
            android:allowBackup="true"
            android:parentActivityName=".ui.staff_management.Staff_Entry"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".ui.staff_management.StaffManagement_Add"
            android:allowBackup="true"
            android:parentActivityName=".ui.staff_management.StaffManagement_Main"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity android:name=".ui.staff_management.StaffFile_Main" />
        <activity
            android:name=".ui.staff_management.StaffFile_Add"
            android:allowBackup="true"
            android:parentActivityName=".ui.staff_management.StaffFile_Main"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".ui.staff_management.StaffFile_Modify"
            android:allowBackup="true"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity android:name=".ui.staff_management.StaffLeaving_Main" />
        <activity android:name=".ui.staff_management.StaffLeaving_Add" />
        <activity android:name=".ui.staff_management.StaffLeaving_Modify" />
        <activity android:name=".ui.staff_management.StaffFile_Info" />
        <activity
            android:name=".ui.staff_management.StaffManagement_See"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity android:name=".ui.staff_management.StaffAuthorization_Main" />
        <activity
            android:name=".ui.staff_management.StaffAuthorization_See"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".ui.staff_management.StaffAuthorization_Modify"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".ui.staff_management.StaffAuthorization_Add"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity android:name=".ui.staff_management.StaffQualification_Main" />
        <activity android:name=".ui.staff_management.StaffQualification_Info" />
        <activity android:name=".ui.staff_management.StaffQualification_Add" />
        <activity android:name=".ui.staff_management.StaffQualification_Modify" />
        <activity android:name=".ui.staff_management.StaffTraining_See" />
        <activity android:name=".ui.staff_management.StaffTraining_result_See"/>
        <activity android:name=".ui.staff_management.StaffTraining_main" />
        <activity android:name=".ui.staff_management.StaffTraining_modify" />
        <activity android:name=".ui.staff_management.StaffTraining_staff_main" />
        <activity android:name=".ui.staff_management.StaffTraining_Add" />
        <activity android:name=".ui.staff_management.StaffTraining_result_modify" />
        <activity android:name=".ui.staff_management.StaffTraining_result_main" />
        <activity android:name=".ui.staff_management.StaffTraining_result_add" />

        <!-- 培训管理 -->
        <activity android:name=".ui.training_management.TrainingApplication_Main" />
        <activity android:name=".ui.training_management.TrainingApplication_Info" />
        <activity android:name=".ui.training_management.TrainingApplication_Add" />
        <activity android:name=".ui.training_management.TrainingApplication_Modify" />
        <activity android:name=".ui.training_management.TrainingApplication_Approve" />
        <activity android:name=".ui.training_management.TrainingApplication_Disapprove" />
        <activity android:name=".ui.training_management.TrainingApplication_Entry" />

        <activity android:name=".ui.training_management.AnnualPlan_Main" />
        <activity android:name=".ui.training_management.AnnualPlan_Add" />
        <activity android:name=".ui.training_management.AnnualPlan_See" />
        <activity android:name=".ui.training_management.AnnualTrainingPlan_Main" />
        <activity android:name=".ui.training_management.AnnualTrainingPlan_See" />
        <activity android:name=".ui.training_management.AnnualTrainingPlan_Modify" />
        <activity android:name=".ui.training_management.AnnualTrainingPlan_Add" />
        <activity android:name=".ui.training_management.AnnualPlan_Approve" />

        <!-- 监督管理 -->
        <activity android:name=".ui.supervision.Supervision_Main" />
        <activity android:name=".ui.supervision.Supervision_Info" />
        <activity android:name=".ui.supervision.SupervisionPlan_Main" />
        <activity android:name=".ui.supervision.SupervisionPlan_Info" />
        <activity android:name=".ui.supervision.SupervisionPlan_Add" />
        <activity android:name=".ui.supervision.SupervisionPlan_Modify" />
        <activity android:name=".ui.supervision.SupervisionRecord_Info" />
        <activity android:name=".ui.supervision.SupervisionRecord_Add" />
        <activity android:name=".ui.supervision.SupervisionRecord_Modify" />

        <!-- 期间核查 -->
        <activity android:name=".ui.period_check.PeriodCheck_Main" />
        <activity
            android:name=".ui.period_check.PeriodCheckPlan_Info"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".ui.period_check.PeriodCheckPlan_Add"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".ui.period_check.PeriodCheckPlan_Modify"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".ui.period_check.PeriodCheckRecord_Info"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".ui.period_check.PeriodCheckRecord_Add"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".ui.period_check.PeriodCheckRecord_Modify"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />

        <!-- 设备管理 -->
        <activity android:name=".ui.equipment_management.Equipment_Main" />
        <activity android:name=".ui.equipment_management.Equipment_Info" />
        <activity android:name=".ui.equipment_management.Equipment_Management_Entry" />
        <activity android:name=".ui.equipment_management.Equipment_Add" />
        <activity android:name=".ui.equipment_management.Equipment_Modify" />
        <activity android:name=".ui.equipment_management.EquipmentReceive_Main" />
        <activity android:name=".ui.equipment_management.EquipmentReceive_Add" />
        <activity android:name=".ui.equipment_management.EquipmentReceive_Info" />
        <activity android:name=".ui.equipment_management.EquipmentReceive_Modify" />
        <activity android:name=".ui.equipment_management.EquipmentApplication_Main" />
        <activity android:name=".ui.equipment_management.EquipmentApplication_Add" />
        <activity android:name=".ui.equipment_management.EquipmentApplication_Info" />
        <activity android:name=".ui.equipment_management.EquipmentApplication_Modify" />
        <activity android:name=".ui.equipment_management.EquipmentUse_Main" />
        <activity android:name=".ui.equipment_management.EquipmentUse_Add" />
        <activity android:name=".ui.equipment_management.EquipmentUse_Modify" />
        <activity android:name=".ui.equipment_management.EquipmentUse_Info" />
        <activity android:name=".ui.equipment_management.EquipmentMaintenance_Main" />
        <activity android:name=".ui.equipment_management.EquipmentMaintenance_Add" />
        <activity android:name=".ui.equipment_management.EquipmentMaintenance_Info" />
        <activity android:name=".ui.equipment_management.EquipmentMaintenance_Modify" />

        <!-- 样品管理 -->
        <activity android:name=".ui.sample_management.SampleManagement_Entey" />
        <activity android:name=".ui.sample_management.SampleReceive_Main" />
        <activity android:name=".ui.sample_management.SampleReceive_Add" />
        <activity android:name=".ui.sample_management.SampleReceive_Info" />
        <activity android:name=".ui.sample_management.SampleReceive_Modify" />
        <activity android:name=".ui.sample_management.SampleIO_Main" />
        <activity android:name=".ui.sample_management.SampleIO_Info" />
        <activity android:name=".ui.sample_management.SampleIO_Add" />
        <activity android:name=".ui.sample_management.SampleIO_Modify" />
        <activity android:name=".ui.sample_management.SampleReceipt_Info" />
        <activity android:name=".ui.sample_management.SampleReceipt_Add" />
        <activity android:name=".ui.sample_management.SampleReceipt_Modify" />

        <!-- 内审管理 -->
        <activity android:name=".ui.internal_audit.InternalAuditManagementMain" />
        <activity android:name=".ui.internal_audit.InternalAuditDocument_Main" />
        <activity
            android:name=".ui.internal_audit.InternalAuditDocument_Add"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity android:name=".ui.internal_audit.InternalAuditDocument_Info" />
        <activity
            android:name=".ui.internal_audit.InternalAuditDocument_Modify"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />

        <!-- 自查管理 -->
        <activity android:name=".ui.self_inspection.SelfInspection_Main" />
        <activity android:name=".ui.self_inspection.SelfInspection_FileList"/>

        <!-- 检测机构 -->
        <activity android:name=".ui.testing_institution.TestingInstitution_Entry" />
        <activity android:name=".ui.testing_institution.TestingInstitutionResource_Info" />
        <activity android:name=".ui.testing_institution.TestingInstitutionResource_Modify" />
        <activity android:name=".ui.testing_institution.TestingInstitutionInformation_Info" />
        <activity android:name=".ui.testing_institution.TestingInstitutionInformation_Modify" />
        <activity android:name=".ui.testing_institution.Certificate_Main" />
        <activity android:name=".ui.testing_institution.Certificate_Info" />
        <activity android:name=".ui.testing_institution.Certificate_Modify" />
        <activity android:name=".ui.testing_institution.Certificate_Add"/>

        <!-- 外部审查 -->
        <activity android:name=".ui.external_review.ExternalReviewManagement_Main" />
        <activity android:name=".ui.external_review.ExternalReviewDocument_Main" />
        <activity android:name=".ui.external_review.ExternalReviewDocument_Add" />
        <activity android:name=".ui.external_review.ExternalReviewDocument_Info" />
        <activity android:name=".ui.external_review.ExternalReviewDocument_Modify"/>
        <!-- 管理评审 -->
        <activity android:name=".ui.manage_review.ManageReview_Main" />
        <activity android:name=".ui.manage_review.ManageReview_Modify" />
        <activity android:name=".ui.manage_review.ManageReviewOne_Main" />
        <activity android:name=".ui.manage_review.ManageReviewOne_Add" />
        <activity android:name=".ui.manage_review.ManageReviewOne_Modify" />
        <!-- 检验检测 -->
        <activity android:name=".ui.test_ability.TestAbility_main" />
        <activity android:name=".ui.test_ability.TestAbilityOne_main" />
        <activity android:name=".ui.test_ability.TestAbility_add" />
        <!-- 质量体系 -->
        <activity android:name=".ui.quality_system.QualitySystem_Main" />
        <activity android:name=".ui.quality_system.QualityManual_Main" />
        <activity android:name=".ui.quality_system.QualityManual_Add" />
        <activity android:name=".ui.quality_system.QualityManualHistory_Main" />
        <activity android:name=".ui.quality_system.QualityManualCurrent_Main" />
        <activity android:name=".ui.quality_system.QualityManualCurrent_Modify" />
        <activity android:name=".ui.quality_system.QualityManualChange_Main" />
        <activity android:name=".ui.quality_system.QualityManual_See" />
        <!-- 标准管理 -->
        <activity android:name=".ui.standard_management.StandardManagement_Main" />
        <activity android:name=".ui.standard_management.StandardManagement_Info" />
        <activity android:name=".ui.standard_management.StandardManagement_Add" />
        <!-- 能力验证 -->
        <activity android:name=".ui.capacity_verification.CapacityVerificationPlan_Main" />
        <activity
            android:name=".ui.capacity_verification.CapacityVerificationPlan_Add"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".ui.capacity_verification.CapacityVerificationPlan_Info"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".ui.capacity_verification.CapacityVericationPlan_Modify"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity android:name=".ui.capacity_verification.CapacityVerificationProject_Main" />
        <activity android:name=".ui.capacity_verification.CapacityVericationProject_Info" />
        <activity
            android:name=".ui.capacity_verification.CapacityVerificationProject_Modify"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".ui.capacity_verification.CapacityVerificationProject_Add"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity android:name=".ui.capacity_verification.CapacityverificationRecord_Info" />
        <activity
            android:name=".ui.capacity_verification.CapacityVerificationRecord_Add"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".ui.capacity_verification.CapacityVerificationRecord_Modify"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity android:name=".ui.capacity_verification.CapacityVericationFile_Add" />
        <activity android:name=".ui.capacity_verification.CapacityVericationFile_Info">
        </activity>
    </application>

</manifest>