<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.admin.cma">
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:allowBackup="true"
            android:label="CMA">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".StaffFile_Main"
            android:allowBackup="true"
            android:parentActivityName=".MainActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"
            android:label="人员档案管理" />
        <activity android:name=".StaffFile_Modify"
            android:allowBackup="true"
            android:parentActivityName=".StaffFile_Main"
            android:label="查看及编辑人员档案"/>
        <activity android:name=".StaffFile_Add"
            android:allowBackup="true"
            android:parentActivityName=".StaffFile_Main"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"
            android:label="新增人员档案"/>
        <provider
            android:authorities="com.example.admin.cma.fileprovider"
            android:name="android.support.v4.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>



    </application>

</manifest>